
.App,
.App * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.App {
    text-align: center;
    margin-left: 1.5%;
    color: #222;
    font: normal normal normal 1rem/1.6 Nunito Sans, Helvetica, Arial, sans-serif;
}
.body{
    width: 75%;
  align-items: center;
  margin: auto;
}
.row{
    margin:30px auto 0px ;

}
.category{
    text-align: center;
   border:1px solid #00000015;

    margin-top: 15px;
    /*height: 200px;*/

}
.category:hover{
    background-color: #6775d4cc;
}
.category:hover>img{
    opacity: 0.5;
}
.category :hover>p{
    color: white;
}
.category img {
    width: 200px;
    height: 150px;
    padding: 10px;
}

.category  p {
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-top: 20px;
padding-bottom: 10px;


}

.App-logo {
    width: 200px;
}
.viewProduct {
    align-items: flex-start;
}
.viewProduct h2{
    color: black;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 15px;
}
.sweet-loading {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 40%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

}
